@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

html, body {
  @apply m-0 p-0;
  font-family: 'Outfit', sans-serif;
}

a {
  @apply text-[inherit] no-underline;
}

.disabled {
  @apply pointer-events-none cursor-default no-underline;
  opacity: .4 !important;
}

input:focus {
  box-shadow: none !important;
}

//@media (prefers-color-scheme: dark) {
//  html {
//    color-scheme: dark;
//  }
//
//  body {
//    color: white;
//    background: black;
//  }
//}
