@import '../../../../assets/styles/variables';

.carousel {
  @apply grid grid-cols-4 gap-8 mt-32;
}

.item {
  @apply relative bg-light-gray rounded-xl p-5 pt-0 mb-8;
  //width: 24%;

  .image {
    @apply -mt-[4.5rem];
  }
  .heading {
    @apply font-bold text-xl text-beige leading-7 truncate-2;
  }
  .description {
    @apply text-sm text-beige truncate-3 mt-5 opacity-90;
  }

  .variations {
    @apply grid grid-cols-4 gap-2.5 mt-6;

    > button {
      @apply bg-transparent border border-white rounded text-[0.6rem] font-semibold text-white text-center uppercase px-1 transition-colors;

      &.active {
        @apply bg-white text-dark-green;
      }
    }
  }

  > div {
    @apply relative;
  }

  &.active {
    @apply bg-green bg-contain bg-no-repeat shadow-2xl shadow-green;
    background-image: url('/images/bg-pattern.jpg');
    background-position: center -110px;
    transform: scale(1.12);
    //width: 30%;

    &::before {
      @apply content-[''] absolute w-full h-full rounded-xl inset-0;
      background-image: linear-gradient(0deg, $green 39%, rgba(0, 0, 0, .8) 100%);
    }

    .heading {
      @apply text-3xl text-white leading-9;
    }
  }
}
